<div class="container">
  <h1>Edit</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :blurb %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Show', @cocktail %> |
  <%= link_to 'Back', cocktails_path %>
</div>